/* #container{
  display: flex;
   width: 100%;
  height: 700px;
  border: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.controles-container{
  width: 200px;
  height: 200px;
}

#controles-container1{

}
#controles-container2{

} */

mat-toolbar.title {
  display: flex;
  flex-direction: row;
}
.pointer {
  cursor: pointer;
}

mat-form-field {
  width: 45%;
  min-width: 200px;
  height: 110px;
}
.controles-container {
  // width: 300px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

#controles-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  mat-form-field{
    min-width: 300px;
  }
}

.product-potentail {
  text-align: center;
}

form.normal-form {
  margin: 10px;
}
/* .add-bottom-padding{
  padding-bottom: 10px;
}
 */
.button-row button {
  margin: 5px;
}

.btn-dialog-close {
  margin-right: 20vw;
}

.title-bold {
  font-weight: 1000;
}

